body{
background-color: black;


header{
color:white;    
font-family: sans-serif ;
 margin-left:39%;
 font-size: 250%;
}




.one{
    font-family: sans-serif ;
    position: absolute;
    font-size: 250%;
    color: white;
 margin-left: auto;
    margin-right: auto;
padding: 20px;
    margin-top: auto;
    margin-left:40%;
border: 3px solid green;

&:hover {
        color: green;
    }


}
.two{
    font-family: sans-serif ;
    position: absolute;
    font-size: 250%;
    color: white;
    padding: 20px;
   margin-top: 10%;
    margin-left:40%;
border: 3px solid green;

&:hover {
        color: green;
    }



}

.three{
    font-family: sans-serif ;
    position: absolute;
    font-size: 250%;
    color: white;
    margin-top: 20%;
    margin-left:38.5%;
    padding: 20px;

border: 3px solid green;

&:hover {
        color: green;
    }
}

.four{
    font-family: sans-serif ;
    position: absolute;
    font-size: 250%;
    color: black;
    margin-top: 30%;
    margin-left:41%;
&:hover {
        color: green;
    }
}

.my {
    position: absolute;
    animation: spin 5s linear infinite;
  
    font-size: 150%;
    color: green;
    top: 800px;
    margin-left:10%;

}
@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes rainbow {
  0% { color: red; }
  33% { color: green; }
  66% { color: blue; }
  100% { color: red; }
  }
  }


  .my2 {
    position: absolute;
    animation: spin 5s linear infinite;
  
    font-size: 150%;
    color: green;
    top: 800px;
    margin-left:80%;

}
@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}